<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:apollo="http://www.ctrip.com/schema/apollo"
       xmlns:emwconfig="http://www.lepdou.org/schema/emwconfig"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.ctrip.com/schema/apollo http://www.ctrip.com/schema/apollo.xsd
       http://www.lepdou.org/schema/emwconfig http://www.lepdou.org/schema/emwconfig.xsd">

    <!--    初始化 emwconfig 模块，注意保证 emwconfig-starter 在 apollo:config 之前，这样才能保证在注入apollo config之前获取到配置-->
    <emwconfig:starter jdbcUrl="jdbc:mysql://localhost:3306/emw" username="root" password="admin"/>
    <!-- 注入配置 -->
    <apollo:config order="10"/>
    <apollo:config namespaces="TEST1.apollo,application.yaml" order="11"/>

    <bean class="com.lepdou.framework.emw.config.spring.xmlConfigDemo.bean.XmlBean">
        <property name="timeout" value="${timeout:200}"/>
        <property name="batch" value="${batch:100}"/>
    </bean>

    <context:annotation-config/>
</beans>
